@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=League+Gothic&family=Miniver&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", serif;
  font-weight: 500, 800;
}

body {
  background-color: hsl(47, 88%, 63%);
  width: 1440px;
  height: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
width: 350px;
  height: 500px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  background-color: #fff;
*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px; /*380*/
  height: 500px;
  border: 1px solid;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0) 5px 5px;
}

.img-blog {
  width: 340px; /*340*/
  height: 200px;
}

.img-blog img {
  border-radius: 10px;
  margin-top: 5px;
}

.informations-blog {
  width: 360px; /*360*/
  height: 180px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  gap: 10px;
  margin-top: 25px;
}

.div1 {
  margin-top: 2px;
  padding: 3px;
  width: 80px;
  text-align: center;
  border-radius: 3px;
  background-color: hsl(47, 88%, 63%);
}

.div2 {
  font-size: 15px;
  color: hsl(0, 0%, 7%);
}

.div3 p {
  font-size: 15px;
  margin-top: 10px;
  padding-right: 10px;
  color: hsl(0, 0%, 42%);
}

.account-blog {
  width: 360px; /*360*/
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  margin-top: 5px;
  padding-left: 12px;
}

.account-blog img {
  width: 40px;
  height: 40px;
}
